{% if site.footer_fixed %}
<footer class="fixed-bottom">
  <div class="container mt-0">
    <div class = "row mt-0">
      <div class = "col">
        &copy; Copyright {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}.
        {% include email-logo.html %} <!-- Social Icons -->
      </div>
      <div class = "col">
        {% if site.last_updated %}
        Last updated: {{ "now" | date: '%B %d, %Y' }}.
        {% endif %}
      </div>
      <div class = "col">
        {{ site.footer_text }}
      </div>
    </div>
  </div>
</footer>
{% else %}
<footer class="sticky-bottom mt-5">
  <div class="container">
    &copy; Copyright {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}.
    {{ site.footer_text }}
    {% if site.last_updated %}
    Last updated: {{ "now" | date: '%B %d, %Y' }}.
    {% endif %}
  </div>
</footer>
{% endif %}